.app {
  background-color: dodgerblue;
  margin: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 10vh; */
}
.custom-gap{
  gap:64px;
  margin-top:128px;
}
#input {
  margin: 5px;
  padding: 5px;
  color: black;
}
